.navbar{
    p {
        font-weight: bold;
        font-size: 20px;
        margin: 0;
        display: inline;    
    }
    .menu{
        background: transparent;
        border: 0;
        position: absolute;
        right: 100px;
    }
    .menu:focus{
        outline: none;      
    }
    .salir{
        background: transparent;
        border: 0;
        position: absolute;
        right: 20px;
    }
    .salir:focus{
        outline: none;      
    }
}