.big-text{
    height: 80%;
    width: 100%;
    position: relative;
    bottom: 0px;
    padding: 0px 20px 0px 10px;
    border:0;
    background: transparent;
}
.editer{
    position: absolute;
    height: 25px;
    width: 25px;
    right: 35px;
    top: 0px;
    color: grey;
    border: 0;
    font-size: 1.5rem
}
.iconos{
    color: black ;  
    padding: 0 25px 0 15px ;
}
.iconos .row{
    height: 16.6%
}
.iconos h4{
    position: absolute;
    left: 3.5em;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 2vw;
}
.iconos .fa{
    font-size: 1.5rem;
}
.card .card-header {
    height: 15%;
}
.profile-image{
    height: 70%;
}
.profile-image img{
    max-width: 100%;
}
.profile{
    margin-top: -30%;
    height: 60%;
    z-index: 10;
}
.profile .calificacion{
    background: white;
    padding: 20px;
}
.calificacion h1{
    text-align: center;
    font-size: 2.5vw;
}
.profile .opciones{
    background: linear-gradient(rgb(25, 3, 119,0.5),rgb(25, 3, 119),rgb(25, 3, 119))
}
.circulo{
    height: 100% !important;
}





.circular-chart {
    display: block;
    max-width: 80%;
    max-height: 250px;
  }
  
  .circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
  }
  
  .circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }
  
  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }
  
  .orange {
    stroke: #ff9f00;
  }
  
  .green {
    stroke: #4CC790;
  }
  
  .blue {
    stroke: cyan;
  }
  
  .percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
  }